/*changes format of webpage when screen changes*/
@media screen and (max-width: 728px) {
    body {
        color: #89B0AE;
        background-color: #555B6E;
    }

    .jumbotron {
        margin: 0px;
        background: #FFE7D6;
    }
}