/*body*/
body {
    background-color: #555B6E
}

/*font color for headers*/
h1 { 
    color: #89B0AE;
}

/*font type of title*/
title {
    font-weight: 2000;
}

/*centers paragraphs*/
p {
    text-align: center;
}

/*card size*/
.card {
    margin: auto;
    margin-bottom: 10px;
}

/*center and size images*/
.img-thumbnail-center {
    display:flex;
    width: 300px;

}

/*adjust size and color of jumbotron*/
.jumbotron {
    color: black;
    position: center;
    margin: 30px;

}

/* adds color to margin around image*/
.card {
    background-color:#FFE7D6
}